---
import Navigation from "./Navigation.astro";
import ThemeIcon from "../ui/ThemeIcon.astro";
import Social from "../ui/Social.astro";
import LogoIcon from "../ui/LogoIcon.astro";

import { getCollection } from "astro:content";
const [staticData] = await getCollection("staticData");
const { github, githubIconName, linkedin, linkedinIconName } = staticData.data;

const base = Astro.base;

const currentPath = Astro.url.pathname;
const routes = [base + "/", base + "/portfolio", base + "/about-me"];
const isActiveRoute = routes.includes(currentPath);

const navItems = isActiveRoute ? ["home", "experience", "projects", "about"] : ["home", "about"];
---

<header class="sticky top-0 z-50 w-full p-4 bg-white/90 dark:bg-[#0E0E11]/80 dark:text-zinc-300 backdrop-blur-xs transition-all">
  <div class="relative mx-auto flex max-w-7xl items-center justify-between px-6">
    
    <!-- Logo -->
    <a href={base + "/"} aria-label="Go to home">
      <LogoIcon name="logo" class="h-6 cursor-pointer hover:text-mint-300" aria-hidden="true" />
    </a>

    <!-- Navigation -->
    <Navigation items={navItems} base={base} />

    <!-- Social links -->
    <div class="hidden md:flex gap-5 text-xl">
      <Social link={github} iconName={githubIconName} />
      <Social link={linkedin} iconName={linkedinIconName} />
    </div>

    <!-- Theme + Hamburger -->
    <div class="flex items-center gap-5">
      <ThemeIcon />
      <button class="hamburger" aria-label="Open menu" aria-expanded="false" aria-controls="mobile-menu"></button>
    </div>

  </div>
</header>
